
 /* body{
    background: url(https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/10/sven-wilhelm-2cRXSWyMHA8-unsplash-scaled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }  */

  /* html{
    background: url(https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/10/sven-wilhelm-2cRXSWyMHA8-unsplash-scaled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  } */


/* #con{
  
    border: 2px solid black;
    height: 425px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: white;
  }
  h1{
    font-size: 50px;
    margin: 30px 20px;
  }
  .in{
    width: 270px;
    padding: 5px;
    margin: 3px;
  }
  .but{
    width: 270px;
    border-radius: 5px;
    color: white;
    background-color: rgb(119, 119, 235);
    margin: 8px;
  }
  h5{
    display: inline;
    padding: 10px;
   }
  #con1{
     
    border: 2px solid black;
    height: 50px;
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: white;
  }
  #con1 a{
    text-decoration: none;
  }
  #con1 a:hover{
    background-color: black;
  }
  .col{
    color: rgb(96, 96, 207);
    
  } */

  /* .form-control{
    border: 1px #000000  solid;
    width: 400px;
padding: 10px;
font-size: 20px;
}
#loginbutton{
    font-size: 20px;
margin: 10px 160px;
}
#registerbutton{
    font-size: 20px;
  
}
form{
    display: flexbox;
    border: 5px solid;
padding: 0px;
font-family: serif;
}
.container{
    width:min-content;

} */

