 Some basic styling
 body {
    font-family: Arial, sans-serif;
}

.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-container h2 {
    margin-top: 0;
}

.profile-field {
    margin-bottom: 10px;
}

.profile-field label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.profile-field input[type="text"] {
    width: 300px;
    padding: 5px;
}

.profile-field .edit-link {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}