/* app.component.css */
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
  } */
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
  justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
}
.container{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}