<app-farmerheader></app-farmerheader>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> 
    <div class="container col-xxl-8 px-4 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://krishify.com/wp-content/uploads/2022/01/Untitled-1-6.png"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">"Empowering Farmers, Nurturing Communities."</h1>
                <p class="lead">Welcome, farmers! We are delighted to have you back on the farmer portal. Valuing your hard work and earnings, we are here to assist you. Let's showcase your products and build connections with customers.</p>
            </div>
        </div>
    </div>

    <!-- <div id="si">
      <h2> welcome to farmer Home page : </h2>   <h1>{{farmer.farmer_Name}} </h1>
      <br>
        <h2>A Community Of More Than 1 Crore Progressive Farmers</h2>
    </div>
    <div id="see">
        <p>We Are A Social Network For Indian Farmers To Help Them Connect With All The Relevant Agricultural
            Stakeholders On A Single Platform And Bridge The Information Gap That Is Rampant In Rural India. Farmers
            come to our platform to get relevant information related to farming, mandi rates, weather updates,
            government schemes and connect with other stakeholders such as agronomists, retailers, agri scientists and
            influencers. </p>
    </div>
    <div>
        <br>
        <br>
        <br>
    </div> -->

    <section class="container">

   <h2> Welcome,{{farmer.farmer_Name}}  </h2>  
<br>
    <h3>   We're delighted to have you back at our Farmers' Marketplace. As a dedicated farmer, your contribution to our platform is invaluable. </h3> 
      <br>
    <p>   Here, you have the opportunity to showcase your exceptional produce and connect directly with customers who appreciate your hard work and commitment to quality.
      
      We're here to support you every step of the way, providing a platform where you can showcase your offerings and build meaningful relationships with customers. Your passion for sustainable farming and dedication to preserving the integrity of our land is truly inspiring.
      
      Thank you for being a part of our farming community. We're excited to see your farm-fresh products thrive on our marketplace and make a positive impact.
    </p>
    <br>
    </section>
<br>
<br>

    <section>  
      <br>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://e0.pxfuel.com/wallpapers/62/68/desktop-wallpaper-village-farmer-novocom-top-indian-agriculture.jpg"
              class="d-block w-100" width="900px" height="400px" alt="...">
            
            
          </div>
          <div class="carousel-item">
            <img src="https://c1.wallpaperflare.com/preview/164/679/667/nature-kokan-sindhudurg-goa.jpg"
              class="d-block w-100" width="900px" height="400px" alt="...">
            
            
          </div>
          <div class="carousel-item">
            <img src="https://e0.pxfuel.com/wallpapers/495/450/desktop-wallpaper-farm-field-nature-landscape-hay-summer-cloudy-sky-full.jpg"
              class="d-block w-100" width="900px" height="400px" alt="...">
           
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
      <div>
        <br>
        <br>

       

      </div>
      <div class="container" style="font-size: x-large; padding:30px 20px;">
      <button class="btn btn-primary" routerLink="upload"> Add Product</button>

      </div>


     <section id="container">  
      <div class="card" style="width: 16rem;" *ngFor="let product of products"> 
        <img [src]="product.product_imgsrc" >
            <div class="card-body">
              <h5 class="card-title">{{product.product_Name}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <button class="btn btn-primary" routerLink="" > Dele </button>  -->
            </div>
     
          </div>
        </section>
  <app-footer> </app-footer> 
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>


</body>

</html>