<div class="main-c">
  <div class="container">
    <h1 class="form-title">Reset Password</h1>

    <form #eForm="ngForm" (ngSubmit)="mob(eForm.value)" novalidate>
      <div class="popmsz" id="popmsz"></div>
      <div class="load" *ngIf="flag">
        <!-- <img src="/assets/images/Dual Ball-1s-200px.svg" alt="" /> -->
      </div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="EmailId">Email-Id</label>
          <input
            type="email"
            id="EmailId"
            name="emailId"
            #eId="ngModel"
            ngModel
            required
            minlength="6"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div class="errmsz">
            <div *ngIf="eId.errors?.['required'] && eId.touched">
              <h3>Please Enter Email Id</h3>
            </div>
            <div *ngIf="eId.errors?.['minlength'] && eId.touched">
              <h3>Please Enter Correct id</h3>
            </div>
            <div *ngIf="eId.errors?.['pattern'] && eId.touched">
              <h3>Please enter a valid email address</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="form-submit-btn">
        <input type="submit" value="Get OTP" (click)="flag=true" [disabled]="!eForm.valid" />
      </div>
    </form>
  </div>
</div>
