<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;

      padding: 0;

      box-sizing: border-box;
      font-family: 'Segoe UI';

      text-decoration: none;

    }

    body {
      /* https://openweather.co.uk/storage/app/media/farming_weather3.jpg */
      display: grid;
      place-items: center;
      background-image: url('https://www.wur.nl/upload/bc8ace2d-545b-431c-ab3c-5a1d4bb924d1_trekker.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: auto;
      padding-bottom: 110px;

    }

    .form-container {

      color: black;
      width: 380px;

      background-color: rgba(255, 255, 255,
          0.137);
      flex-direction: column;
      display: flex;
      margin: 5px;
      gap: 5px;
      padding: 20px 20px;

      text-align: center;
      border-radius: 10px;
    }

    .name {

      display: flex;
      justify-content: space-between;
    }

    .name input {
      width: 48%;
    }

    input {
      padding: 8px 10px;
      border-radius: 10px;
      border: none;

      outline: none;

    }

    input[type='checkbox'] {

      accent-color: rgb(5, 211, 183);

      width: 15px;
      height: 15px;
    }

    .terms {

      display: flex;
      justify-content: center;

      gap: 6px;
      align-items: center;

    }

    .terms a {
      color: rgb(5, 211, 183);

    }





    button {
      padding: 8px;
      border-radius: 8px;

      border: none;
      font-weight: 500;
      background-color: rgb(5, 211, 183);
      color: rgba(0, 0, 0, 0.699);
      cursor: pointer;
      font-size: 15px;
    }

    button:hover {
      background-color: rgb(8, 204, 178);
    }

    button:active {
      background-color: rgb(45, 241, 215);
    }

    body img {
      width: fit-content;
      margin-bottom: 0%;
      /* border-block-start-width: thick; */
    }
  </style>

 
</head>
<body>
  <br>
  <h2>Registration Form</h2>
  
  <br>
  <form class="form-container" [formGroup]="registrationForm" id="for" #regForm="ngForm"
    (ngSubmit)="onSubmit(regForm.value)">
    <input class="con1" type="text" name="farmer_Name" ngModel placeholder="Enter your Name"
      formControlName="firstName" />
    <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
      <span *ngIf="registrationForm.get('firstName')?.errors?.['required']">name is required.</span>
    </div>
    <input class="con1" type="email" name="farmer_Id" ngModel placeholder="Enter your email" formControlName="email">
    <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
      <span *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</span>
      <span *ngIf="registrationForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
    </div>
    <input class="con1" type="number" name="mobile_Number" ngModel placeholder="Enter your number"
      formControlName="confirmPassword">
    <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
      <span *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']">mobile number required.</span>
    </div>

    <input class="con1" type="password" name="password" ngModel placeholder="Enter password" formControlName="password">
    <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
      <span *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</span>
      <span *ngIf="registrationForm.get('password')?.errors?.['minlength']">
        Password must be at least 6 characters long.
      </span>
    </div>
    <input class="con2" type="text" name="farmer_Address" ngModel placeholder="Address"
      formControlName="confirmPassword" />

    <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched">
      <span *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']"> Address is required.</span>
    </div>
    <br>
    <!-- Gender <br> -->
    <!-- Male<input type="radio" class="rad" name="gender">  Female <input type="radio" class="rad" name="gender"> -->

    <div class="terms">
      <input type="checkbox" /> I accept <a href="">Terms of Use</a>
    </div>

    <button type="submit">Register Now</button>
  </form>


</body>

</html>