/* *{
  margin: 0px;
  padding: 0px;
}
h1{
    text-align: center;
  }
  legend{
    font-size: 35px;
    font-weight: 400;
    margin: 8px;

   }
  #con{
    background: transparent; 
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
    height: 500px;
    width: 500px;
   text-align: center; 
    margin: 30px auto;
    justify-content: center;
    
  }
  #for{
     text-align: center;
  }
  .con1{
    border-radius: 8px;
    padding: 8px;
    margin: 14px;
  }
  .con2{
    border-radius: 8px;
    padding: 8px;
    margin: 14px;
    width: 440px;
  }
  .rad{
    margin: 0px 20px;
  }
  .rad a{
    text-decoration: none;
  }
  #but{
    border-radius: 5px;
    width: 430px;
    color: black;
    background-color: rgb(119, 119, 235);
    padding: 8px;
    margin: 20px 37px;
  }
  #but:hover{
    background-color:white;
  } */

  h1{
    text-align: center;
  }
  legend{
    margin: 8px;
    /* text-align: center; */
  }
  #con{
    background-color: white;
    border: 2px solid black;
    height: 500px;
    width: 500px;
    /* text-align: center; */
    margin: 30px auto;
  }
  #for{
     text-align: center;
  }
  .con1{
    padding: 8px;
    margin: 14px;
  }
  .rad{
    margin: 0px 20px;
  }
  #but{
    border-radius: 5px;
    width: 430px;
    color: white;
    background-color: rgb(119, 119, 235);
    padding: 8px;
    margin: 20px 37px;
  }

.form-container[_ngcontent-ng-c2080001418] {
    color: black;
    width: 380px;
    background-color: rgba(255, 255, 255, 0.137);
    flex-direction: column;
    display: flex;
    margin: 5px;
    gap: 5px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}
body form legend{
  line-height: 2.5;
}
body form span{
  font-size: 20px;
  font-weight:500;
}
.container{
  width: 300px;
}
