/* body{
    background-image: url(https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/10/sven-wilhelm-2cRXSWyMHA8-unsplash-scaled-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

h1{
    text-align: center;
  }
  legend{
    margin: 8px;
    /* text-align: center; */
  }
  #con{
    background-color: white;
    border: 2px solid black;
    height: 500px;
    width: 500px;
    /* text-align: center; */
    margin: 30px auto;
  }
  #for{
     text-align: center;
  }
  .con1{
    padding: 8px;
    margin: 14px;
  }
  .rad{
    margin: 0px 20px;
  }
  #but{
    border-radius: 5px;
    width: 430px;
    color: white;
    background-color: rgb(119, 119, 235);
    padding: 8px;
    margin: 20px 37px;
  }

.form-container[_ngcontent-ng-c2080001418] {
    color: black;
    width: 380px;
    background-color: rgba(255, 255, 255, 0.137);
    flex-direction: column;
    display: flex;
    margin: 5px;
    gap: 5px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}
body form h2{
  line-height: 2.5;
}
body form span{
  font-size: 20px;
  font-weight:500;
}