<app-navbar></app-navbar>
<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
    body{
      background:url(https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/10/sven-wilhelm-2cRXSWyMHA8-unsplash-scaled-1.jpg) ;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 0;
    }
  </style>
</head>
<body>
  <div id="con">
      
    <h1>Farmer's Market</h1>
     <legend>Registration</legend>
     <form action="bootpra2.html" id="for">
         <input  class="con1" type="text" placeholder="Enter your Firstname">
         <input class="con1"  type="text" placeholder="Enter your Lastname">
         <input  class="con1" type="email_Id" placeholder="Enter your email_Id">
         <input class="con1"  type="number" placeholder="Enter your number">
         <input class="con1"  type="password" placeholder="Enter your password">
         <input class="con1"  type="password" placeholder="Confirm your password">
         <br>
         Gender <br>
         Male<input type="radio" class="rad" name="gender">  Female <input type="radio" class="rad" name="gender">

         <button id="but">
           Register
         </button>
       </form>
 
</div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <style>


*{ margin: 0;

padding: 0;

box-sizing: border-box; 
font-family: 'Segoe UI';

text-decoration: none;

} body {

 display: grid; place-items: center; background-image: url('https://openweather.co.uk/storage/app/media/farming_weather3.jpg'); background-repeat: no-repeat; background-size: cover;
position: relative;
padding: 0%;
margin-bottom: 0%;
padding-bottom: 100px;


}

.form-container {

color: black;
 width: 500px;
 
 background-color: rgba(255, 255, 255,
 0.137);
  flex-direction: column; 
display: flex;
 margin: 5px;
 gap: 10px; 
 padding: 30px 20px; 
margin-top: 100px;

text-align: center; border-radius: 10px;
}
.name {
justify-content: center;
padding-left: 70px;
display: flex; 
justify-content: space-between; }

.name input {
width: 300px;

}

input {
padding: 8px 10px; 
border-radius: 10px;
 border: none;

outline: none;

}

input[type='checkbox'] {

accent-color: rgb(5, 211, 183);

width: 15px; height: 15px;
}

.terms {

display: flex; 
justify-content: center;

gap: 6px; 
align-items: center;

}
 .terms a { color: rgb(5, 211, 183);

}

/* padding: 8px; border-radius: 8px;

} */

button {
    padding: 8px; border-radius: 8px;

    border: none; font-weight: 500; background-color: rgb(5, 211, 183); color: rgba(0, 0, 0, 0.699); cursor: pointer; font-size: 15px;
}
button:hover { background-color: rgb(8, 204, 178); }

button:active { background-color: rgb(45, 241, 215);}

body img{


    width:fit-content;
    margin-bottom: 0%;
   

 
    /* border-block-start-width: thick; */
}
.message{
color: rgb(241, 14, 14);
text-align: start;
margin-left: 100px;
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
font-size: large
}

@media (max-width: 600px) {
  .form-container {
    width: 90%;
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .name input {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .form-container {
    padding: 20px;
  }

  .message {
    margin-left: 0;
    text-align: center;
  }
}
/* class="form-container" */
   </style>
</head>
<body>

    <img src="https://i.postimg.cc/jdCsjxrG/former-heade-removebg-preview.png" alt="">
   
     <form [formGroup]="registrationForm"    #regForm="ngForm" (ngSubmit)="onSubmit(regForm.value)"   class="form-container" >

  <h1> Register Form</h1>

        <div class="name">
               <input type="text" id="firstName" formControlName="firstName"  ngModel name="customer_Name" placeholder="Name"/>
      </div>
        <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
          <div *ngIf="registrationForm.get('firstName')?.errors?.['required']" class="message">Customer_name is required.</div>
        </div>
     
    
      
      <div class="name">
        <!-- <label for="email">email_Id:</label> -->
        <input type="email" id="email" formControlName="email"     ngModel name="email_Id"  placeholder="example@email_Id"/>
      </div>
        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="message">
          <span *ngIf="registrationForm.get('email')?.errors?.['required']">email_Id is required.</span>
          <span *ngIf="registrationForm.get('email')?.errors?.['email']">Please enter a valid email_Id address.</span>
   
      </div>
    
      <div class="name">
        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" formControlName="password"  ngModel name="password" placeholder="password"/>
      </div>
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="message">
          <span *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="registrationForm.get('password')?.errors?.['minlength']">
            Password must be at least 6 characters long.
          </span>
        </div>
  
    
      <div class="name">
        <!-- <label for="confirmPassword">Mobile No:</label> -->
        <input type="number" id="confirmPassword" formControlName="mobile_Number"  ngModel name="mobile_Number" placeholder="mobile_Number" />
      </div>
        <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched" class="message">
          <span *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']" >mobile_Number required.</span>
        </div>
        <!-- <div class="name">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" formControlName="lastName"  ngModel name="address" placeholder="Address"/>
          <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
            <span *ngIf="registrationForm.get('lastName')?.errors?.['required']">Address is required.</span>
          </div>
        </div> -->
     
      <div class="terms">
        <input type="checkbox" /> I accept <a href="">Terms of Use</a>
        </div>
    
      <button type="submit" [disabled]="registrationForm.invalid" >Register</button>
      
    </form>

</body>

</html>
