<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .fa-solid {
        width: 24px;
        height: 24px;
    }

    span {
        margin-right: 6px;
    }

    #si h2 {
        text-align: center;
    }

    #see p {
        text-align: center;
        margin: 0 40px;

    }
</style>
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-secondary border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
                        <img src="assets/image/logo.png"
                            alt="" width="65" height="52">
                        <span class="fs-4">Farm Connect</span>
                    </a>
    
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a  class="nav-link text-white">
                                <!-- <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg> -->
                                <!-- <i class="fa-sharp d-block  mx-auto mb-2 fa-solid fa-house fa-1x"></i> -->
                                <i class="fa-solid fa-house"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a  class="nav-link text-white" (click)="openModal()">
                                <!-- <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg> -->
                                <i class="fa-solid fa-table"></i>
                                Add products
                            </a>
                        </li>
                        <li>
                            <a routerLink="farmerprofile" class="nav-link text-white">
                                <!-- <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg> -->
                                <!-- <i class="fa-duotone d-block mb-2 mx-auto fa-2x fa-bags-shopping"></i> -->
                                <!-- <i class="fa-duotone fa-bags-shopping d-block mb-2 mx-auto fa-2x"></i> -->
                                <i class="fa-solid fa-user"></i>
                               My Profile
                            </a>
                        </li>

                        <li><a routerLink="updatefarmprof" class="nav-link text-white">
                          <i class="fa-solid fa-user-pen"></i>
                          Update Profile</a></li>

                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <!-- <i class="fa-regular fa-grid-2 d-block mb-2 mx-auto fa-2x"></i> -->
                            Signout
                            </a>
                        </li>
                        <li>
                            
    
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </header>
    
  <div class="modal" id="modalContactForm" [ngClass]="{'d-block': modalVisible}" >
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Your product</h4>
          <button type="button" class="close" (click)="closeModalclose()">&times;</button>
        </div>
        <form class="modal-body" #regFrom ="ngForm">
          <!-- <div class="form-group">
            <label for="name">farmer ID</label>
            <input type="number" id="name" class="form-control" placeholder="farmer_Id" name="farmer_Id" [(ngModel)]="products.farmer_Id" value="{{farmer.farmer_Id}}" required>
          </div> -->
          <div class="form-group">
            <label for="name">Product name</label>
            <input type="text" id="name" class="form-control" placeholder="Product name" name="product_Name" [(ngModel)]="products.product_Name" required>
          </div>
  
          <div class="form-group">
            <label for="email">Product Price</label>
            <input type="text" id="email" class="form-control" placeholder="product price"  name="product_Price" [(ngModel)]="products.product_Price" required>
          </div>
  
          <div class="form-group">
            <label for="subject">product image link</label>
            <input type="text" id="subject" class="form-control" placeholder="image url"  name="product_imgsrc"  [(ngModel)]="products.product_imgsrc" required>
          </div>
  
          <div class="form-group">
            <label for="message">product Description</label>
            <textarea id="message" class="form-control" rows="4" placeholder="Your message" name="product_Desc" [(ngModel)]="products.product_Desc" ></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"  type="submit" (click)="closeModal(regFrom.value)"> Upload Product</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
