

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
  .container{
    background-color: lightgrey;
width: 1000px;
border: 15px solid green;
padding: 50px;
margin: 20px;
height: 900px;
margin-left: auto;
margin-right: auto;

    }

h1{
text-align: center;


}
.flex-container {
display: flex;

}




*{
box-sizing: border-box;
}

.search-box{
width: fit-content;
height: fit-content;
position: relative;
padding-left: 400px;
margin-top: 20px;
}
.input-search{
height: 50px;
width: 50px;
border-style: none;
padding: 10px;
font-size: 18px;
letter-spacing: 2px;
outline: none;
border-radius: 25px;
transition: all .5s ease-in-out;
background-color: #22a6b3;
padding-right: 40px;
color: black;
}
.input-search::placeholder{
/* color:rgba(255,255,255,.5); */
color: #1da0f1;
font-size: 18px;
letter-spacing: 2px;
font-weight: 100;
}
.btn-search{
width: 50px;
height: 50px;
border-style: none;
font-size: 20px;
font-weight: bold;
outline: none;
cursor: pointer;
border-radius: 50%;
position: absolute;
right: 0px;
color:#ffffff ;
/* color: #1da0f1; */
background-color:transparent;
pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
width: 300px;
border-radius: 0px;
background-color: transparent;
border-bottom:1px solid rgba(255,255,255,.5);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
width: 300px;
border-radius: 0px;
background-color: transparent;
border-bottom:1px solid rgba(255,255,255,.5);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
color: black;
}

.cards img{
height: 150px;
width: 150px;
margin-left: 40px;
border-radius: 30px;
}

.cards{
display: flex;
}
.names h4{
margin-left: 50px;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
margin-top: 30px;
}

.Qty{
margin-left: 50px;
margin-top: 20px;
}

.price{
display: flex;
margin-left: 400px;
}
.bar :hover {
background-color:whitesmoke;
/* height: 200px; */
text-align: center;
justify-content: center; 
padding-top: 30px; 
border-radius: 20px;



}



header img{
height: 50px;
width: 50px;
margin-top: 15px;
} 
header{
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
gap: 20px;
}
.change {
display: none;
}



</style>
</head>
<body>
<!-- 
  <div class="row">
    <div class="col-xl-8 col-m
    d-8">
     itrem
      <div *ngFor="let product of orders" class="d-sm-flex justify-content-between my-4 pb-4 border-bottom mt-4">
        <div class="media d-block d-sm-flex text-center text-sm-left">
          <div class="cart-item-thumb mx-auto mr-sm-4" href="">
            <img [src]="product.productimg" alt="Product" class="zoom" style="object-fit: contain"></div>
          <div class="media-body pt-3">
            <h3 class="product-card-title font-weight-semibold border-0 pb-0 mx-5">
              {{product.product_Name}}
            </h3>
            <div class="font-size-lg text-primary pt-2"> Quantity: {{product.quantity}}</div>
          </div>
          <div class="font-size-lg text-primary pt-2"> Total: {{product.total | currency:'INR'}}</div>
        </div>
        <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
        </div>
      </div>
    </div>
  </div>
</body> -->







<!-- ------------------------------------------------ -->
<!-- <button #orderButton class="order" (click)="onClick()">
    <span class="default">Complete Order</span>
    <span class="success">Order Placed
      <svg viewBox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
      </svg>
    </span>
    <div class="box"></div>
    <div class="truck">
        <div class="back"></div>
        <div class="front">
            <div class="window"></div>
        </div>
        <div class="light top"></div>
        <div class="light bottom"></div>
  ----------------------------------------------------- -->      
<div class="container" *ngFor="let product of orders">
<header>

  <div class="image">
    <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/e-commerce-currency-shopping/orders-icon.svg" alt=""></div>
  <div>
    <h1>
 Ordered Items</h1></div>
 
</header>
<br>
<br>
<hr>
<div class="flex-container">
<div> <h3 style="margin-left: 50px;"></h3></div>
<div class="search-box">
<button class="btn-search"><i class="fa fa-search"></i></button>
<input type="text" class="input-search" placeholder="Type to Search...">
</div>
</div>
<br>
<br>
<div class="bar">
<div class="cards">

<div > <img [src]="product.productimg"></div>
 <div class="names" >
   <h4> {{product.product_Name}}</h4>
   <label class="Qty"> Qty </label>
<input type="text"  value="{{product.quantity}}" style="width: 50px;">
<br>

  
  </div>


  <div class="price">
   <div><h2> price</h2>
    <h4> <span style='font-size:26px;'>&#8377;</span> {{product.total | currency:'INR'}}</h4>
   
    </div>
    </div>

</div>
</div>
<br>
<hr>
</div>
<app-footer> </app-footer>
</body>
</html>