


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <style>

        body {

    margin-top: 0%;
    padding-top: 0%;

   height:100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer;

}

.labels {
    font-size: 14px;
    font-weight: bolder;
  
    font-family: Arial, Helvetica, sans-serif;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
    padding-top: 200px;

}
.card{
    margin-top:0%;
    background:url("https://img.freepik.com/free-photo/green-field-with-sun_1160-878.jpg?w=2000");
    height: 750px;
    
}




    </style>
</head>
<body>

    <!-- <div class="container">
        <div class="profile-container">
            Enter Name: <input type="text" name="customer_Name" [(ngModel)]="customer.customer_Name"
            class="form-control"><br />
        Enter Mobile Number: <input type="text" name="mobile_Number" [(ngModel)]="customer.mobile_Number"
            class="form-control"> <br />
            Enter Address: <input type="text" name="customer_address" [(ngModel)]="customer.customer_address"
            class="form-control"><br />
        </div>
        <button class="btn btn-primary btn-sm" (click)="updatecustomer(customer)" data-dismiss="modal">Update</button>

    </div> -->
   
    <div class="card">
    <div class="container rounded bg-white mt-5 mb-5"  >
    
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0-FVVaYSFbTMXiC6bUW2O_Vzx0OyauBu_RwRlfQ7iIU5aMvWJ86dpdfvGL7eYThBSkQ0&usqp=CAU"><span class="font-weight-bold">customer_Name</span><span class="text-black-50">customer_emailId</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Customer_Name</label> <input type="text"   class="form-control" name="customer_Name" [(ngModel)]="customer.customer_Name"></div>
                        <div class="col-md-12"><label class="labels">Customer_emailId</label><input type="text"  class="form-control"name="email_Id" [(ngModel)]="customer.email_Id"></div>
                       
                        <div class="col-md-12"><label class="labels">Mobile_Number</label><input type="text"  class="form-control" name="mobile_Number" [(ngModel)]="customer.mobile_Number"></div>
                        <div class="col-md-12"><label class="labels">Customer_Address</label><input type="text"  class="form-control"name="customer_address" [(ngModel)]="customer.customer_address"></div>
                       
                    </div>
                    
                    <div class="mt-5 text-center"> <button class="btn btn-primary profile-button" (click)="updatecustomer(customer)" data-dismiss="modal"  type="button">Save Profile</button>
                    </div>
                </div>
            </div>
           
        </div>


    </div>
</div>
</body>
</html>