<app-ahead> </app-ahead>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <style>
    .dot {
      text-align: center;
      font-size: 2rem;
      color: black;
      /* background-color: black; */
    }
    details {
      /* border: 2px solid black; */
      /* border-radius: 5px; */
      padding: 6px;
      /* background-color: rgb(163, 163, 239); */
      margin-left: 50px;
      padding: 40px;
    }

    table {
      background-color: skyblue;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:last-child td {
    border-bottom: none;
  }

    /* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  } */

  /* th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } */

  /* th {
    background-color: #f2f2f2;
    font-weight: bold;
  } */

  tr:hover {
    background-color: #f5f5f5;
  }
    </style>
  
</head>
<body>
  <!-- <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          
          <img src="assets/image/logo.png" alt="" width="60" height="52">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#home" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a routerLink="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
          <li><a routerLink="adfar" class="nav-link px-2 link-body-emphasis">Farmers</a></li>
          <li><a href="#products" class="nav-link px-2 link-body-emphasis">Products</a></li>
        </ul>
      </div>
    </div>
  </header> -->

  <div class="dot" >
    Details of Customers
  </div>
  <details>
    <div>
      <table align="center" border="2">
        <tr>
          <th>CustomerId</th>
          <th>CustomerName</th>
          <th>CustomerAddress</th>
          <th>Email_id</th>
          <th>Password</th>
        </tr>
        <tr *ngFor="let customer of customers">
          <td>{{customer.customer_Id}}</td>
          <td>{{customer.customer_Name }}</td>
          <td>{{customer.customer_address }}</td>
          <td>{{customer.email_Id }}</td>
          <td>{{customer.password }}</td>
        </tr>
      </table>
    </div>
  </details>

  <!-- <div class="dot" >
    Details of Farmers
  </div>
  <div>
    <details>
      <table align="center" border="2">
        <tr>
          <th>farmerId</th>
          <th>farmerName</th>
          <th>farmerAddress</th>
          <th>Email_id</th>
          <th>Password</th>
          <th colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let farmer of farmers">
          <td>{{farmer.farmer_Id}}</td>
          <td>{{farmer.farmer_Name }}</td>
          <td>{{farmer.farmer_Address }}</td>
          <td>{{farmer.email_Id }}</td>
          <td>{{farmer.password }}</td>
        </tr>
      </table>
    </details>
  </div> -->

  <!-- <div class="dot" >
    Details of Products
  </div> -->

  <footer>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
          <img src="assets/image/logo.png" alt="" width="60" height="52">
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#home" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#features" class="nav-link px-2 text-body-secondary">Features</a></li>
          <li class="nav-item"><a href="#pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
          <li class="nav-item"><a href="#faqs" class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
      </footer>
    </div>
  </footer>
</body>
</html>