<app-farmerheader></app-farmerheader>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form class="modal-body" #regFrom ="ngForm" (ngSubmit)="OnSubmit(regFrom.value)">
    
    <div class="form-group">
      <label for="name">Product name</label>
      <input type="text" id="name" class="form-control" placeholder="Product name" name="product_Name" [(ngModel)]="products.product_Name" required>
    </div>
    
    <div class="form-group">
      <label for="email">Product Price</label>
      <input type="text" id="email" class="form-control" placeholder="product price"  name="product_Price" [(ngModel)]="products.product_Price" required>
    </div>
<!-- 
    <div class="form-group">
      <label for="subject">product image link</label>
      <input type="text" id="subject" class="form-control" placeholder="image url"  name="product_imgsrc"  [(ngModel)]="products.product_imgsrc" required>
    </div> -->

    <div class="form-group">
      <label for="message">product Description</label>
      <textarea id="message" class="form-control" rows="4" placeholder="Your message" name="product_Desc" [(ngModel)]="products.product_Desc" ></textarea>
    </div>
    <div class="modal-footer">
        <img [src]="imageUrl"  style="width:250px;height:200px">
        <input type="file"  name="product_imgsrc" accept="image/*" (change)="handleFileInput($event)">
        <button type="submit" class="btn-large btn-submit" [disabled]="regFrom.value=='' || !regFrom.valid">Submit</button>
    </div>
  </form>

  </body>
  </html>