/* .for {
    text-align: center;
  }

  .p {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  #preview {
    max-width: 300px;
    max-height: 300px;
  }
  nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  line-height: 70px;
}
  nav ul {
    float: right;
  }
  nav ul li {
    font-weight: bold;
    display: inline-block;
    margin-left: 50px;
    color: #0b0b0b;
    font-size: 12px;
  } */

  /* *{
    margin: 0px;
   border-radius: 0px;
   font-size: 20px;
} */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
.header{
  height: 90px;
  width: 100%;
/* background-position: center;
background-size: cover; */
position: relative;
background-color:lightseagreen;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

}
nav img{
  width: 50px;
}
span{
  color:whitesmoke;
  font-size: 20px;
  font-weight: bold;
}
.nav-links{
  flex: 1;
  text-align: right;
  margin-bottom: 40px;
  margin-left: 30px;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;


}
.nav-links ul li a{
  color:azure;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color:black;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
width: 100%;
}
nav.button{
  display:none;
  background-color: none;
  border: none;
  background: none;

}

li select {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 20px;
  width: 100px;
  color: aliceblue;
}
li select option{
  background-color:lightsalmon;
  color: aliceblue;
}
#text{
  margin-bottom: 30px;
  font-size: xx-large;
  text-decoration: wavy;
}
#img{
  margin-bottom: 20px;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.badge {
position: absolute;
top: -15px;
right: -8px;
color: red;
border-radius: 50%;
padding: 5px 6px;
padding: 3px 6px;
font-size: 22px;
}