<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      li{
        margin-left: 15px;
      }
    </style>
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap  justify-content-lg-start">
            <a href="/" class="d-flex align-items-center  mb-2 mb-lg-0 link-body-emphasis text-decoration-none">

              <img src="assets/image/logo.png" alt="" width="65" height="52">
            </a>
          
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2  mb-md-0" style="float: right;">
              <li><a class="nav-link px-2 link-body-emphasis">
                <i class="fa-solid fa-house"></i>
                Home</a></li> 
               <li><a routerLink="order" class="nav-link px-2 link-body-secondary">
                <i class="fa-solid fa-cart-shopping"></i>
                My Orders</a></li>

                <li><a routerLink="addtocart" class="nav-link px-2 link-body-secondary">
                  <i class="fa-solid fa-basket-shopping"></i>
                  Cart</a></li>
              
                <li><a routerLink="customerprofile" class="nav-link px-2 link-body-secondary">
                <i class="fa-solid fa-user"></i>
                My Profile</a></li>

                <li><a routerLink="updateprofile" class="nav-link px-2 link-body-secondary">
                  <i class="fa-solid fa-user-pen"></i>
                  Update Profile</a></li>



                <!-- <div class="dropdown">
                  <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    My Profile
                  </a>
                
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">View Profile</a></li>
                    <li><a class="dropdown-item" href="#">Update Profile</a></li>
                    
                  </ul>
                </div> -->
<!-- 
                <li><a href="#" class="nav-link px-2 link-body-emphasis">
                  <i class="fa-solid fa-arrow-right-from-bracket" (click)="logout()"></i>
                  Sign out</a></li> -->

                  
            <!-- </ul>
          </div>
        </div>
      </header>
</body>
</html> --> 
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins:ital@1&display=swap" rel="stylesheet">
<style>
        * {
            margin: 0;
            padding: 0;
        }
        body{
            font-family: 'Poppins', sans-serif;
            color: white;
        }
        nav{
            background-color: rgb(4, 4, 67);
            display: flex;
            align-items: center;
            justify-content: space-around;
            /* height: 100px; */
        }
        nav ul{
            display: flex;
            justify-content: center;
        }
        nav ul li{
            list-style: none;
            margin: 0 15px;
        }
        nav ul li a {
            text-decoration: none;
        }
        nav ul li a:hover{
            color: white;
            border: 2px solid white;
            background-color: rgb(248, 44, 44);
        }
        .left{
            display: inline-block;
            padding: 10px;
            font-size: 2rem;
        }
        .left span{
             margin: auto;
        }
        i{
            padding: 0 10px;
        }
        
    </style>
</head>

<body>
    <header>
        <nav>
            <div class="left">
                <img src=".../src/assets/logo.png" alt="" width="65" height="52">
                <span>Farm Connect</span>
            </div>
            <div class="right">
                <ul>
                    <li><i class="fa-solid fa-house "></i><a href="#">Home</a></li>
                    <li><i class="fa-solid fa-table"></i><a href="#">Add Products</a></li> -->
                    <!-- <li><i class="fa-solid fa-user"></i><a href="#">Myprofile</a>
                    <ul class="dropdown">
                        <li>View Profile</li>
                        <li>Update Profile</li>
                    </ul>
                    </li> -->
               
                    <!-- <div class="dropdown">
                        <i class="fa-solid fa-user"></i>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          My Profile
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item " href="#">View Profile</a></li>
                          <li><a class="dropdown-item " href="#">Update Profile</a></li>
                        </ul>
                      </div>
                    <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="#">SignOut</a></li> -->
                    <!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div> -->
                    <!-- </ul>
            </div>
        </nav>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html> -->

<section class="header">
  <nav>
    <a> <img  id="img"  src="https://dcassetcdn.com/design_img/3610010/711813/711813_19807218_3610010_1424a96c_image.jpg" alt="farmconnect logo"> </a>
    <span id="text"> FarmConnect</span>
   <div class="nav-links" id="navlinks">
    <div id="myslidebar" class="sidebar"> 
 
  </div>
   <ul>
  <li><i class="fa-solid fa-store fa-beat"></i><a href=""> Home</a></li>
  <div class="cart-icon">
    
  <li><i class="fa-solid fa-basket-shopping fa-beat"></i>
    <!-- <span class="badge">{{ value }}</span> -->
    <a routerLink="addtocart"> Cart</a>
  </li>
</div>
  <li><i class="fa-solid fa-cart-shopping fa-beat"></i><a routerLink="order"> MyOrders</a></li>
  <li> <i class="fa-solid fa-user fa-beat" (click)="profile()"></i> <select>
    <option value="" disabled selected>Profile</option> 
    <option > View Profile</option>
    <option ><button (click)="updateprofile()">  Update Profile </button> </option>

  </select></li>
  <li><i class="fa-solid fa-right-from-bracket fa-flip"></i><a href="" (click)="logout()">SignOut</a></li>
    </ul>
   </div>      
</nav>
</section>