.first {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }

  .first div {
    width: 30%;
  }

  .left {
    background-color: rgb(3, 8, 3);
  }

  #con {
    /* font-family: sans-serif; */
    border: 2px solid black;
    border-radius: 5px;
    height: 425px;
    width: 350px;
    margin: 20px auto;
    text-align: center;
    /* background-image: url("https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/08/christian-widell-vrT3Z9UKFEg-unsplash-scaled.jpg");
    background-size: cover; */
    background-color: rgb(41, 238, 152);

  }
  #con h2{
         margin-top: 110px;
  }
  #con p{
    margin-top: 20px;
    font-size: 15px;
  }
  #con a{
    margin-top: 15px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 4px;
  }
  #con a:hover{
    background-color: white;
  }

  /* .left img { */
  /* width: 80%; */
  /* height: 100%; */
  /* } */

  .right {
    background-color: rgb(31, 144, 210);
  }
