<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .bill { 
 background-color:white;
  width: 1000px;
  border: 4px solid black;
  padding: 50px;
  margin: 20px;
  height: 1100px;
  margin-left: auto;
  margin-right: auto;
  
  

} 
.flex-container {
  display: flex;
  flex-wrap: wrap;


}
.img-bg{

    margin-top: 70px;

    opacity: 0.4;
position: absolute;
/* background-repeat: repeat-x; */
background-size: cover;


height: 800px;
width: 800px;


}
.label{
color: black;
margin-left: 200px; 
font-weight: bolder;
padding-top: 0%;
width: 200px;

}




    </style>
</head>
<body> 
    
    <div class="bill">
        <img  class="img-bg" background-image src=" assets/image/formlogo-removebg-preview.png" alt="">
 <h1 style="margin-top: 0%; padding: 0%; text-align: center;"> Invoice</h1>
<h1  style="text-align: center;">𝕱𝖆𝖗𝖒 𝕮𝖔𝖓𝖓𝖊𝖈𝖙</h1>
<br>

<hr>
<div  class="flex-container">
    <div >
<h3 style="font-size: x-large;"> Bill to/shipto :</h3>
<h5  style="font-size: medium;"> Customer_Name: customer.name</h5>
<h5 style="font-size: medium;" >customer_address:customer.address</h5>
    </div>
    <div style="margin-left: 400px; margin-top: 0; ">
<h3 > Bill From</h3>
<p>Former Connect,Talentsprint<br>
    PSR Prime Tower,Gachibowli<br>
    Pincode:500032.
</p>
    </div>
</div>
<hr>
<div class="flex-container">
<div  >Qty</div>

<div style="padding-left: 90px; opacity: 1;"> Item</div>
<div style="padding-left: 90px;"> Other <br>Charges</div>
<div style="padding-left: 90px;" >Amount</div>
<div style="padding-left: 90px;"> Discount</div>
<div style="padding-left: 90px;"> Total <br> Amount</div>
</div>
<hr>
<div class="flex-container">
<div  >Qty</div>
<div style="padding-left: 90px;">Item</div>
<div style="padding-left: 90px;">{{Other <br> charges}}</div>
<div style="padding-left: 90px;">Amount</div>
<div style="padding-left: 90px;"> Discount</div>
<div style="padding-left: 90px;"> Total <br> Amount</div>
</div>
<hr>
<p style="font-weight: bolder;">total</p>
<div class="flex-container">
    <div  >Qty</div>
    <div style="padding-left: 90px;">Item</div>
    <div style="padding-left: 90px;">{{Other <br> charges}}</div>
    <div style="padding-left: 90px;">Amount</div>
    <div style="padding-left: 90px;"> Discount</div>
    <div style="padding-left: 90px;"> Total <br> Amount</div>
</div>
    <hr>
    <p class="label"> Form Connect pvt.ltd <br>
        Authorized Signatory </p>
    <div class="flex-container"> 

   
    <img src="https://www.linkpicture.com/q/img-removebg-preview.png" alt="" style=" width: 300px; margin-left: 150px; ">


 
<img src="https://www.linkpicture.com/q/qrcode_62859586_82790b742056be520a59075966ac68b7.png" alt="" style="height: 200px;width: 200px;margin-left: 200px; ">
</div>
<hr>
<h3> Register Address :</h3>
<p> company address_Asddress</p>


<br>
<p>
    If you have any questions, feel free to call customer care: +91 6281364744 or use  Contact Us  section in our  App.
</p>



</div>

</body>
</html>
