<app-customerheader></app-customerheader>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("https://wallpaperaccess.com/full/31193.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
        }
        .dot{
            border-radius: 20px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="profile-container">
            Enter Name: <input type="text" class="dot" name="customer_Name" [(ngModel)]="customer.customer_Name"
            class="form-control"><br />
        Enter Mobile Number: <input type="text"class="dot"  name="mobile_Number" [(ngModel)]="customer.mobile_Number"
            class="form-control"> <br />
            Enter Address: <input type="text" class="dot" name="customer_address" [(ngModel)]="customer.customer_address"
            class="form-control"><br />
        </div>
        <button class="btn btn-primary btn-sm" (click)="updatecustomer(customer)" data-dismiss="modal">Update</button>

    </div>
</body>
</html>
