.container{
    /* background: transparent; */
    background-color: rgb(234, 237, 237);
    border: 2px solid black;
    width: 500px;
    height: 400px;
    /* margin-top: 70px; */
    /* border-radius: 20px; */
}
.btn{
    margin-top: 30px;
    margin-left: 180px;
    padding: 10px 20px;
}
.btn:hover{
    background-color: rgb(34, 17, 17);
    border-radius: 8px;
}
/* .dot{
    border-radius: 20px;
} */