

html {
  scroll-behavior: smooth;
 }









.bat{
  display: flexbox;
  background-image: url("https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/08/christian-widell-vrT3Z9UKFEg-unsplash-scaled.jpg");
    /* background-image: url("https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/08/christian-widell-vrT3Z9UKFEg-unsplash-scaled.jpg");
    background-size: cover;
    height: 600px;
    padding-top: 70px ;
    position: absolute;
    height: 102%;
    width: 100%;
    z-index: -1;
    opacity: 0.9; */
    background-size: cover;
  }

.ball::before{
    content: "";
    /* background-size: cover;  */
    /* position: absolute; */
    height: 102%;
    width: 95%;
    z-index: -1;
     opacity: 0.9;
  }

  .ball{
    background-color: white;
    /* position: relative; */
    border: 2px solid black;
    width: 400px;
    height: 550px;
    background: none;
    color: antiquewhite;
    border: none;
  
/* float: inline-end; */
    vertical-align: top;
    margin-left: 50px;
  }
  .ball h3{
    color: rgb(241, 241, 122);
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
  }
  .ball p{
    /* margin-left: 10px; */
    text-align: center;
  }
  #bt{
    background-color: rgb(230, 230, 125);
    border-radius: 4px;
    padding: 10px;
    margin-left: 50px;
    margin-top:25px ;
  }
  #bt:hover{
    background-color: rgb(224, 97, 97);
  }

  .container{
    margin-top: 0%;
  }

  .col:hover{
    scale: 0.9;
   
}

.flex-container {
  display: flex;


 
  
}
.flex-container img:hover{
  height:150px ;
}
.two{
  height: 160px; width: 150px; background-color:rgb(197, 242, 197); border-radius: 50%; margin-left: 300px;
}
.two img:hover{
  height: 180px;
}
.two img{
  margin-left: 20px; height: 160px;
}
.img-bg{

  margin-top: 70px;

  opacity: 0.4;
position: absolute;
/* background-repeat: repeat-x; */
background-size: cover;
}









.bod{
  margin: 0;
  padding: 0;
  
  /* min-height: 100vh; */
  background: green;
  display: flex;
   height: 200px;
   width: 100%;
  font-family: sans-serif;
  background-color:rgb(134, 203, 134); 
}

.bod h4{
  font-size:40px;
}
.cont{
  margin-left: 150px;
  text-align: center;
  margin-top: 10px;
}





.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
}







@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
}
h1{
    font-size: var(--h1-font-size);
}
.card__img img{
    max-width: 100%;
    height: auto; 

 } 
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
    /* margin-left: 50px; */
    /* background-color:lightseagreen;
   */
   
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2px;
    padding-left: 5px;
    margin-left: 10px;

}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
} 

/*-- COMPONENT --*/
.card{
  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1.5rem 2rem; */
    border-radius: 1rem;
    overflow: hidden;
    height: 400px;
    width: 300px;
    padding-top: 0%;
   
    margin-left: 50px;
    /* padding-left: auto;
    margin-right: auto; */

  

}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
}
.card__img{

    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
    margin-top:0px;
    
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color:lightblue;
    color:green;
    font-weight: bold;
    transition: .5s;
}
#card__icon{
    /* font-size: 1.5rem; */
    font-size:100px;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size:larger;
    color: var(--accent-color);
    margin-bottom: .25rem;
    font-weight: bolder;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    /* transform: rotate(30deg); */
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}







h4 {
  margin-top: 0;
  margin-bottom: 50px;
}
/* a:link, a:visited {
  transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
} */
/* .container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.quantity {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 0;
  margin-left:30px;
  /* background-color: blue; */
  width: 100px;
  height:30px;
  border-radius: 80px;
  border-color: blue;

  


}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  background: lightblue;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
/* .quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
}  */
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {

  color: black;
} 
.quantity__minus:visited,
.quantity__plus:visited {
color:black;
} 




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 30px;
margin-right: 10px;
}






.product{
    padding: 20px 0;
}
 .slider-wrap{
    position: relative;
    overflow: hidden;
    height: 150px;
 }
 .slider-main{
    position:absolute;
    width: 200%;
 }
 .item{
    display: inline-block;
    width: 312px;
    height: 150px;
    background-color: red;
    position: relative;
    margin: 0 12px;
  
 }
 .text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
color: white;
 }

 .prev{
    position:absolute;
    left: 33px;
    top:50%;
    transform: translate(-50%,-50%);
 }
 .next{
    position:absolute;
    right:-5px;
    top:50%;
    transform: translate(-50%,-50%);
 }
































 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.main {margin: 0 -5px;}

/* Clear floats after the columns */
.main:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */

.names{
 display: flex; margin-right: 20px;
}
.st{
font-size: 10px;
}
.qty{
 display: flex; gap: 5px; 
}
.qty op{
  display: flex; gap: 5px; 
}

.quantity button{
border-radius: 20px; border-color: blue;
}
.quantity h5{
  justify-content: center; text-align: center;margin-top: auto;margin-bottom: auto; margin-left: auto;margin-right: auto;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;
}

html {
  scroll-behavior: smooth;
 }
 .row{
  text-decoration: none;
  margin-top: 0%;
 }






 .card__name p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
 }

 .productse{
  margin-left: 100px;
  margin-top: 10px;
 }
