<app-ahead></app-ahead>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dot {
      text-align: center;
      font-size: 2rem;
      color: black;
      /* background-color: black; */
    }
    details {
      /* border: 2px solid black; */
      /* border-radius: 5px; */
      padding: 6px;
      /* background-color: rgb(163, 163, 239); */
      margin-left: 50px;
      padding: 40px;
    }

    table {
      background-color: skyblue;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:last-child td {
    border-bottom: none;
  }

    /* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  } */

  /* th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } */

  /* th {
    background-color: #f2f2f2;
    font-weight: bold;
  } */

  tr:hover {
    background-color: #f5f5f5;
  }
    </style>
</head>
<body>
    <div class="dot" >
        Details of Products
      </div>

      <!-- <div>
        <details>
          <table align="center" border="2">
            <tr>
              <th>farmerId</th>
              <th>farmerName</th>
              <th>farmerAddress</th>
              <th>Email_id</th>
              <th>Password</th>
              <th colspan="2">Actions</th>
            </tr>
            <tr *ngFor="let farmer of farmers">
              <td>{{farmer.farmer_Id}}</td>
              <td>{{farmer.farmer_Name }}</td>
              <td>{{farmer.farmer_Address }}</td>
              <td>{{farmer.email_Id }}</td>
              <td>{{farmer.password }}</td>
            </tr>
          </table>
        </details>
      </div> -->
</body>
</html>
