<app-farmerheader></app-farmerheader>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* body{
            background-image: url("https://wallpaperaccess.com/full/31193.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
        } */
        body {
            background-image: url('');
            background-size: cover;
            background-position: center;
            font-family: Arial, sans-serif;
        }
        
        .container {
            background-color:lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .profile-container {
            background-color:white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        
        input[type="text"] {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
        
        .btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container" > 
        <div class="profile-container">
             Enter Name: <input type="text"  name="farmer_Name" [(ngModel)]="farmer.farmer_Name"
            class="form-control" > <br> 
     Enter Mobile Number: <input type="text" name="mobile_Number"   [(ngModel)]="farmer.mobile_Number"
            class="form-control"><br />
            Enter Address: <input type="text" name="farmer_Address"[(ngModel)]="farmer.farmer_Address"
            class="form-control"><br />
    
        <button class="btn btn-primary " (click)="updatefarmer(farmer)" data-dismiss="modal">Update</button> 
        </div>
        </div>
        </body>
</html>
