<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="assets/image/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
          <img src="assets/image/logo.png" alt="" width="65" height="52">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="home" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="login" class="nav-link px-2 text-white">Login</a></li>
          <li><a   class="nav-link px-2 text-white" (click)="openModal()" >contact us</a></li>
          <li><a  class="nav-link px-2 text-white" [routerLink]="['home/fp']"> About us</a></li>

        </ul>

         <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
           <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Search..." aria-label="Search">
         </form>
          <div class="dropdown"> 
            <button class="btn btn-warning dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             signup
           </button>
           <ul class="dropdown-menu dropdown-menu-dark" data-bs-theme="dark">
             <li><a class="dropdown-item " routerLink="signup" style="background-color: black">Register as Customer</a></li>
             <li><a class="dropdown-item" routerLink="signupfar" style="background-color: black">Register as Farmer</a></li>
             
             
           </ul> 
          </div>
        </div>
      </div>
    
  </header>

  <div class="modal" id="modalContactForm" [ngClass]="{'d-block': modalVisible}" >
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Write to us</h4>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" id="name" class="form-control" placeholder="Your name">
          </div>
  
          <div class="form-group">
            <label for="email">Your email</label>
            <input type="email" id="email" class="form-control" placeholder="Your email">
          </div>
  
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" class="form-control" placeholder="Subject">
          </div>
  
          <div class="form-group">
            <label for="message">Your message</label>
            <textarea id="message" class="form-control" rows="4" placeholder="Your message"></textarea>
          </div>

          
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary"  (click)="closeModal()">Send</button>
        </div>
      </div>
    </div>
  </div>
  

  <div class="text-center">
   
  </div>

  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>