<app-ahead> </app-ahead>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>

.dot {
      text-align: center;
      font-size: 2rem;
      color: black;
      /* background-color: black; */
    }
    details {
      /* border: 2px solid black; */
      /* border-radius: 5px; */
      padding: 6px;
      /* background-color: rgb(163, 163, 239); */
      margin-left: 50px;
      padding: 40px;
    }

    table {
      background-color: skyblue;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:last-child td {
    border-bottom: none;
  }

    /* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  } */

  /* th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } */

  /* th {
    background-color: #f2f2f2;
    font-weight: bold;
  } */

  tr:hover {
    background-color: #f5f5f5;
  }
    </style>
</head>
<body>
    
    <!-- <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
              
              <img src="assets/image/logo.png" alt="" width="60" height="52">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#home" class="nav-link px-2 link-secondary">Home</a></li>
              <li><a href="#customers" class="nav-link px-2 link-body-emphasis">Customers</a></li>
              <li><a href="#farmers" class="nav-link px-2 link-body-emphasis">Farmers</a></li>
              <li><a href="#products" class="nav-link px-2 link-body-emphasis">Products</a></li>
            </ul>
          </div>
        </div>
      </header> -->


    <div class="dot" >
        Details of Farmers
      </div>
      <div>
        <details>
          <table align="center" border="2">
            <tr>
              <th>farmerId</th>
              <th>farmerName</th>
              <th>farmerAddress</th>
              <th>Email_id</th>
              <th>Password</th>
              <th colspan="2">Actions</th>
            </tr>
            <tr *ngFor="let farmer of farmers">
              <td>{{farmer.farmer_Id}}</td>
              <td>{{farmer.farmer_Name }}</td>
              <td>{{farmer.farmer_Address }}</td>
              <td>{{farmer.email_Id }}</td>
              <td>{{farmer.password }}</td>
            </tr>
          </table>
        </details>
      </div>
</body>
</html>