<div class="main-c">
  <div class="container">
    <h1 class="form-title">Reset Password</h1>

    <form #setForm="ngForm" (ngSubmit)="pass(setForm.value)" novalidate>
      <div class="popmsz" id="popmsz"></div>
      <div class="min-user-info">
        <div class="user-input-box">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter Password"
            #password="ngModel"
            ngModel
            required
            minlength="8"
          />
          <div class="errmsz">
            <div *ngIf="password.errors?.['required'] && password.touched">
              <h3>Please Enter Password</h3>
            </div>
            <div *ngIf="password.errors?.['minlength'] && password.touched">
              <h3>Please Enter Atleast 8 Characters for Password</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="form-submit-btn">
        <input
          type="submit"
          value="Submit"
          [disabled]="!setForm.valid"
        />
      </div>
    </form>
  </div>
</div>
