/* fancy-cart.component.css

/* .cart-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f7f7f7;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-info {
    flex-grow: 1;
  }
  
  .price {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .remove-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff5555;
    transition: color 0.2s;
  }
  
  .remove-button:hover {
    color: #ff0000;
  }
  
  .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .total span:first-child {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .total-price {
    font-weight: bold;
    color: #008000;
  } */
  
/* 
  .cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}
.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}



img {
  max-width: 100%;
}

.product-info .connect {
  margin: 15px 0 5px 0;
}

.product-info .connect button {
  margin-right: 15px;
}



.zoom {
  background-color: none;
  transition: transform 3s;

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
} */
