<app-customerheader></app-customerheader>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script src="cartscript.js"></script>
  <style>
   .for {
      text-align: center;
    }

    .p {
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 20px;
    }

    #preview {
      max-width: 300px;
      max-height: 300px;
    }





    .two{
  height: 160px; width: 150px; background-color:rgb(197, 242, 197); border-radius: 50%; margin-left: 300px;
  text-align: center;
}
.two img:hover{
  height: 180px;
}
.two img{
  margin-left: 20px; height: 160px;
}
.img-bg{

  margin-top: 70px;

  opacity: 0.4;
position: absolute;
/* background-repeat: repeat-x; */


  background-size: cover;
}

.flex-container {
  display: flex;


 
  
}
.flex-container img:hover{
  height:150px ;
}

#down{

  padding-top: 20px;
}

.two h4 {
  padding-top: 10px;
}
.two p{padding-top: 10px;}



  </style>
</head>

<div id="carouselExampleCaptions" class="carousel slide carousel-fade">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://g2h4v2c9.stackpathcdn.com/themes/agrarium/wp-content/uploads/2021/10/ezgif.com-gif-maker.jpg"
        class="d-block w-100" width="1400px" height="400px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to Farmer's Market</h2>
        <p>Quality food is the most important thing in our life</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://demo.artureanec.com/themes/agrarium/wp-content/uploads/2021/10/sven-wilhelm-2cRXSWyMHA8-unsplash-scaled-1.jpg"
        class="d-block w-100" width="1400px" height="400px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Platform for Organic Food</h2>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://g2h4v2c9.stackpathcdn.com/themes/agrarium/wp-content/uploads/2021/10/ezgif.com-gif-maker.jpg"
        class="d-block w-100" width="1400px" height="400px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Start Purchasing Today </h2>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>

<body>
  <br>
  <section style="font-size: large;">
    <h1 style="font-weight: 600; justify-content: center;"> Welcome back,</h1>
    <br />
    <br />
    <h3 style="font-weight: 500;"> We're thrilled to see you again at our Farmers' Marketplace. As a valued member of
      our community, your presence brightens our platform. </h3>
    <br />
  </section>
  <br>
  <br>
  <!-- <section class="container">
    <div class="card" style="width: 18rem;" *ngFor="let product of allproducts">
      <img [src]="product.product_imgsrc">
      <!-- <img [src]="http://localhost:8085/target/image/{{Product.product_imgsrc}}">
      <div class="card-body">
        <h5 class="card-header-pills">{{product.product_Id}}</h5>
        <h5 class="card-title">{{product.product_Name}}</h5>
        <h5 class="card-body">{{product.product_Price}} </h5>
        <p class="card-text">{{product.product_Desc}}</p>
        
  <button onclick="increment()">+</button> <input [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" min="1" type="number"
   name="product.quantity" value="1"/>
   <br>
  <button onclick="decrement()">-</button>
        <button class="btn btn-primary" (click)="addtocart(product)"> Add to Cart </button>
        
      </div>
    <input [(ngModel)]="this.quantity" name="quantity" [ngModelOptions]="{standalone: true}" min="1" type="number" value="1"
      class="form-control w-25" /> first working but not fully 

    <br /> 
  </div>
  </section> -->
  <div class="row" id="down">
    <div class="column" *ngFor="let product of allproducts">
      <!-- <div class="card"> -->
      <main class="main bd-grid">

        <article class="card">


          <div class="card__img">

            <img [src]="product.product_imgsrc">
          </div>
          <div class="card__name">
            <p> Farm Connect</p>
          </div>

          
          <span class="card__preci card__preci--before">Product Id: {{product.product_Id}}</span>
          <span class="card__preci card__preci--now">Name: {{product.product_Name}}</span>
          <span class="card__preci card__preci--now"> price:{{product.product_Price | currency:'INR'}}</span>
          <div class="names">
          <br>
            <span class="material-symbols-outlined">
              local_shipping
            </span>
            <br>
            <br>
            <span class="st"> StandardDelivery:Tomorrow<br>
              <br>
              <br>
              9:00AM-1:30PM</span>

          </div>
          <br>

          <div class="qty">
            <!-- <span>
              <div class="qty op">
                <a href="#" class="quantity__minus"><span>-</span></a>
                <input name="quantity" type="text" class="quantity__input" value="1">
                <a href="#" class="quantity__plus"><span>+</span></a>


              </div>

            </span> -->
            Qty
           <input [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}" min="1" type="number"
   name="product.quantity" value="1" style="width: 50px; height: 30px;"/>
   <br>
            <span>
              <div class="quantity">
                <button (click)="addtocart(product)">
                  <h5> Add Cart</h5>
                </button>
              </div>
            </span>
            <!-- <span> <a href="" class="card__icon"><i class="material-icons md-55" >shopping_cart</i></a></span> -->

          </div>


        </article>


      </main>
    </div>
  </div>

</body>
<app-footer> </app-footer>

</html>